<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} — Takt Op. Symphony Wiki</title>

    <link rel="stylesheet" href="/css/style.css?bust={% bust %}" />

    {% block scripts %}{% endblock %}
  </head>

  <body>
    <header id="header">
      <nav class="main-nav">
        <a href="/">Home</a>
        <a href="/wiki">Wiki</a>
      </nav>

      {% include 'elements/theme-switch.njk' %}
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer id="footer">
      <span class="copy">Copyright &copy; 2023 — {% year %} Angius</span>
      <span class="source">
        <a href="https://github.com/Atulin/taktop-wiki">Source code</a>
      </span>
    </footer>
  </body>
</html>
