---
layout: main-layout.njk
---

<header id="header">
  <a href="/wiki">Wiki home</a>
</header>

<article>
  <h1>{{ title }}</h1>

  {% if content | toc %}
  <aside id="toc">
    <strong>Table of contents</strong>
    <hr />
    {{ content | toc | safe }}
  </aside>
  {% endif %}

  {{ content | safe }}
</article>

<style></style>
